<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Kursovoi.Properties.Settings.IgraConnectionString"
            connectionString="Data Source=DESKTOP-HQ2MQUP\MSSQLSERVER2;Initial Catalog=Igra;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>